@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
section{
    background-image: url('http://localhost/PHARMACYTIEG/mvcc/image/6.webp');
    background-size: 100% 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-left: 230px;

}
table{
    background-color: rgb(5, 5, 5);
    opacity: 0.9;
    width: 90%;
    height: 500px;
    margin-left: 70px;
    margin-right: 40px;
    color: aliceblue;
    border-radius: 30px;
    padding: 10px;
}
th{
    text-align: center ;
    height: 60px;
    border-left: 0px;
    border-right: 0px;
    color: rgb(14, 102, 234);
}
td{
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px;
    padding-left: 10px;
    padding-right: 5px;
    height: 40px;
}
.prix{
    width: 130px;

}
.date{
    width: 170px;
}
.Quantite,.prixtd{
    text-align: center;
}
.details{
    width: 500px;
}

.terme{
    width: 400px;
}
.fa-solid{
    padding-left: 15px;
}
.edit,.supprimer{
    width: 50px;
    
}

.fa-trash-can{
    color : rgb(227, 33, 33);
}
.fa-pen-to-square{
    color: yellow;
}
.fa-cart-shopping{
    color:rgb(4, 162, 4);
}